{% include 'layout.html' %}

<div class="container" style="padding-top: 25px;">
    <div class="card">
        <div class="card-header">
            Finance Calculator
        </div>
        <div class="card-body">
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            <form method="POST">
                <p>Based on historical financial data, the stock market always bounces back. The more time, the better
                    the recovery. This tool is designed to give you an idea of how the S&P 500 may perform over a period of time.
                    It's not exact, but the future never is.
                    If a person invests every year into the S&P 500, their investment
                    can increase by a varying percentage. It will have it's highs and lows, but a good average is typically around a 8% return.
                    The results will hopefully get you interested in learning more. 
                </p>
                <div>
                <div class="form-group">
                    <label>Starting Amount</label>
                    <input type="text" class="form-control" name="start"
                        required>
                </div>
                <div class="form-group">
                    <label>Amount to Invest Per Month</label>
                    <input type="text" class="form-control" name="peryear"
                        required></input>
                </div>
                <div class="form-group">
                    <label>How Many Years Will You Invest?</label>
                    <input type="text" class="form-control" name="years"
                        required></input>
                </div>
                <button type="submit" class="btn btn-primary">Get the Results</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="/todos">Home</a>
        </div>
    </div>
</div>