{% include 'layout.html' %}

<div class="container" style="padding-top: 25px;">
    <div class="card text-center">
        <div class="card-header">
            <h4>Greetings, {{user.username}}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Here are Your ToDos!</h5>
            <p class="card-text">Select Edit to See The Details</p>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Info</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>

{% for todo in todos %}
{% if todo.complete == False %}
  <tr class="pointer" >
      <td>{{loop.index}}</td>
      <td>{{todo.title}}</td>
      <!-- <td>{{todo.description}}</td> -->
      <td>
          <button onclick="window.location.href='complete/{{todo.id}}'"
                  type="button" class="btn btn-success mb-1">Done</button>
          <button onclick="window.location.href='edit-todo/{{todo.id}}'"
                  type="button" class="btn btn-info mb-1">Edit</button>
      </td>
  </tr>
{% else %}
  <tr class="pointer alert alert-success" role="alert">
    <td>{{loop.index}}</td>
    <td class="strike-through-td">{{todo.title}}</td>
    <!-- <td>{{todo.description}}</td> -->
    <td>
      
        <button onclick="window.location.href='complete/{{todo.id}}'"
                type="button" class="btn btn-secondary mb-1">Undo</button>
        <button onclick="window.location.href='edit-todo/{{todo.id}}'"
                type="button" class="btn btn-info mb-1">Edit</button>

    </td>
  </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>

            <a href="add-todo" class="btn btn-primary">Add a new Todo!</a>
        </div>    
    </div>
    <div class="container">
      <div class="text-center">
          <div class="card-body">
              <a class="btn btn-primary" href="/extras/getstocks">Get Stocks</a>
              <a class="btn btn-primary" href="/extras/fincalc">Finance Calculator</a>
          </div>
      </div>
  </div>
</div>

