{% include 'layout.html' %}

<div class="container" style="padding-top: 25px;">
    <div class="card">
        <div class="card-header">
           <h5>Welcome</h5>
        </div>
        <div class="card-body">
            <div class="has-bg-img">
                <h3>As of right now, this site functions as a todo app.</h3>
                <img src="{{ url_for('static', path='/todo/images/technofull.jpg')}}" class="img-fluid bg-img">
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="/todos">Go Back</a>
        </div>
    </div>
</div>



