{% include 'layout.html' %}

<div class="container" style="padding-top: 25px;">
    <div class="card">
        <div class="card-header">
            This is a Not-So-Secret Page
        </div>
        <div class="card-body">

            {% if msg %}
            {% if msg == 'magic' or msg == 'sword' %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}
            <div class="card-body">
                <h1>Nothing to see here. Go back now!</h1>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="/todos">Go Back</a>
        </div>
    </div>
</div>
